/*Form*/
.form{
  max-width: 430px;
  width: 100%;
  height: 330px;
  gap: 0;
  background: #ffffff;
  box-shadow: 0 0 25 25 #00000026;
  margin-bottom: 25px;
  font-family: 'Inter' , sans-serif;
  border: 1px solid #000000;
  border-radius: 10px;
}

.form__title{
  padding: 34px 36px 54px 64px;
  width: 330px;
  height: 23px;     
  gap: 0;
  font-family: 'Inter' , sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
  margin: 0;
}

.form__fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__display{
  width: 358px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.form__input{
  max-width: 500px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #545454;
  margin-bottom: 29.74px;
  margin: 0;
}

.form__button{
  cursor: pointer;
  opacity: 0.8;
}

.form__button{
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px 0 0 0 ;
  background-color: #000000;
  color: #FFFFFF;
}

.form__button:hover {
  background-color: #000000CC;
  color: #FFFFFF;
}

.form__error-message {
  font-size: 12px;
  color: #FF0000;
  line-height: 14.52px;
  margin-top: 5px;
}
.form__input_type_error{
  border-bottom: 1px solid #FF0000;
}
.form__button_inactive, .form__button_inactive:hover {
  border: 1px solid gray;
  background-color: #FFFFFF;
  color: gray;
}


@media screen and (max-width:740px) {
  .form__title {
    max-width: 238px;
    padding: 25px 22px 76px 22px;
    font-size: 18px;
    line-height: 21.78px;
  }
}