.form_confirm {
  max-width: 430px;
  width: 100%;
  height: 210px;
  gap: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 25px 25px #00000026;
  margin-bottom: 25px;
  font-family: "Inter";
  border: 1px solid #000000;
  border-radius: 10px;
}

.form__title {
  padding: 34px 36px 54px 64px;
  width: 330px;
  height: 23px;
  gap: 0px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
  margin: 0;
}
.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  
}
.form__display {
  width: 358px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.form__input {
  max-width: 500px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #545454;
  margin-bottom: 29.74px;
  margin: 0;
}
.form__input_el_link {
  margin-bottom: 40px;
}

.form__input_el_id {
  margin-bottom: 40px;
}
.form__input:focus {
  outline: none;
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.form__button {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px 0px 0px 0px;
  background: #000000;
  color: #ffffff;
  margin-top: 20px;
}

.form__button-disabled {
  background-color: #fff;
  color: #000;
  opacity: 20%;
  margin-top: 31px;
}
.form__input-error-message {
  font-size: 12px;
  color: rgba(255, 0, 0, 1);
  margin: 0;
  max-width: 358px;
}

.form__input-invalid {
  margin-top: 15px;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}
.form__login {
  max-width: 400px; /* Largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
}
.form__login-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.form__input-login {
  width: 358px;
  margin-top: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #cccccc;
  color: #ffffff;
}
.form__button-login {
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px 0px 0px 0px;
  background: #ffffff;
  color: #000000;
  margin-top: 218px;
}

.form__button-message {
  width: 358px;
  height: 17px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
}

.form__button-login:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__register {
  max-width: 400px; /* Largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
}
.form__register-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.form__input-register {
  width: 358px;
  margin-top: 50px;

  border-bottom: 2px solid #cccccc;
}
.form__button-register {
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px 0px 0px 0px;
  background: #ffffff;
  color: #000000;
  margin-top: 218px;
}

.form__button-message {
  width: 358px;
  height: 17px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
}
.form__button-message-link {
  text-decoration: none;
  color: #ffffff;
}
.form__button-message-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__button-register:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .form__fieldset {
    width: 200px;
  }
  .form {
    max-width: 282px;
    width: 100%;
    height: 322px;
  }
  .form__title {
    max-width: 238px;
    padding: 25px 22px 76px 22px;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
  }

  .form__input {
    width: 180px;
  }
  .form__button {
    width: 190px;
    margin-top: -20px;
  }
  .form__button-add {
    width: 190px;
    margin-top: -20px;
  }
  .form__display {
    width: 250px;
  }
  .form__button-login {
    margin-top: 173px;
    width: 260px;
  }
  .form__button-message {
    font-size: 12px;
  }
  .form__input-login {
    width: 260px;
  }

  .form__button-register {
    margin-top: 173px;
    width: 260px;
  }
  .form__button-message {
    font-size: 12px;
  }
  .form__input-register {
    width: 260px;
  }
}