/*Popup*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  inset: 0;
}

.popup-opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container {
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
  width: 100%;
  position: relative;
  color: #000000;
  font-family: "Inter", sans-serif;
}

.popup__image-container {
  position: relative;
  max-width: 816px;
  max-height: 800px;
}

.popup__button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__button-image {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  margin-top: -550px;
  margin-left: 850px;
}

.popup__button-image:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__image-open {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  object-fit: contain;
}

.popup__image-name {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: -25px;
}
/* Popup de confirmação para exclusão de cartão*/

.popup-confirm-delete {

  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup-opened {
  display: flex;
}

.popup__container-confirm {
  background: white;
  padding: 20px;
  text-align: center;
  width: 430px;
  height:181px ;

}

.popup__title-confirm {
  padding: 34px 36px 54px 36px;
  width: 330px;
  height: 23px;
  gap: 0;
  font-family: 'Inter' , sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
  margin: 0;
}


.popup__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popup__button-confirm,
.popup__button-cancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.popup__button-confirm {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px 0 0 0 ;
  background-color: #000000;
  color: #FFFFFF;

}

.popup__button-cancel {
  background-color: gray;
  color: white;
}
/*Popup para atualização de avatar*/

.popup-avatar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.popup-avatar.popup-opened {
  display: flex;
}

.popup__container-avatar {
  background: white;
  padding: 20px;
  text-align: center;
  width: 300px;
  max-width: 90%;
}

.popup__input-avatar {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.popup__button-avatar {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.popup__button-avatar:hover {
  background-color: darkblue;
}


@media screen and (max-width:1024px) {
  .popup__image-open {
    max-width: 433px;
  }
}

@media screen and (max-width:740px) {
  .popup__button {
    right: -35px;
  }


  .popup__image-open {
    max-width: 240px;
  }
}